@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #0e0c1a;
  --color-foreground: #f5f5f7;
  --font-poppins: "Poppins", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --color-primary: #cf0f47;
  --color-card: #390615;
  --color-secondary: #ff0b55;

  --color-background: #000000;
  --color-accent: #ffdede;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Ensure body is scrollable */
body {
  overflow-y: auto;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Black.ttf") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Bold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-SemiBold.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Bold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Medium.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
    0% {
      transform: rotate(var(--angle)) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(var(--angle)) translateX(-500px);
      opacity: 0;
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite
;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }}

@keyframes rainbow-trail {
  0% {
    opacity: 0.5;
    transform: translateY(0);
    height: 100%;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    height: 100%;
  }
}

.animate-rainbow-trail {
 opacity: 0.5;
  animation: rainbow-trail 0.3s ease-in-out forwards;
}