@import "tailwindcss";

@theme {
  --color-background: #0e0c1a;
  --color-foreground: #f5f5f7;

  --color-primary: #cf0f47;
  --color-secondary: #ff0b55;

  --color-background: #000000;
  --color-accent: #ffdede;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
