@import "tailwindcss";

@theme {
  --color-background: #0e0c1a;
  --color-foreground: #f5f5f7;
  --font-poppins: "Poppins", "sans-serif";

  --color-primary: #cf0f47;
  --color-secondary: #ff0b55;

  --color-background: #000000;
  --color-accent: #ffdede;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Ensure body is scrollable */
body {
  overflow-y: auto;
}

@font-face {
  fontFamily: "Poppins";
  src: url("../../public/fonts/Poppins-Black.ttf") format("woff");
  fontWeight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  fontFamily: "Poppins";
  src: url("../../public/fonts/Poppins-Bold.ttf") format("woff");
  fontWeight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  fontFamily: "Poppins";
  src: url("../../public/fonts/Poppins-Light.ttf") format("woff");
  fontWeight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  fontFamily: "Poppins";
  src: url("../../public/fonts/Poppins-SemiBold.ttf") format("woff");
  fontWeight: 500;
  font-style: normal;
  font-display: swap;
}
